footer {
    font-size: 12px;
    &.border-top {
        border-top: 1px solid;
        padding-top: 20px;
    }

    .footer-stamp {
        text-align: center;
        margin-bottom: 20px;

        @include tablet {
            text-align: right;
        }
    }

    .footer-contacts {
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }
}
