@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.slider {
    position:relative;
    width: 100%;
    padding-bottom: 40%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;

    & :nth-child(2n+1) {
        transform-origin: top right;
    }

    & :nth-child(3n+1) {
        transform-origin: top left;
    }

    & :nth-child(4n+1) {
        transform-origin: bottom right;
    }

    .fx {
        opacity: 1;
        transform: scale(1.1);

        &:first-child + img ~ img  {
            z-index:-1;
        }
    }

    &__image {
        position:absolute;
        width: 100%;
        height: auto;
        opacity:0;
        transition-property: opacity, transform;
        transition-duration: 3s, 10s;
        transform-origin: bottom left;
    }
}
