@import "../css/normalize.css";
@import "../css/foundation.min.css";
@import "../css/ninja-slider.css";

@import "./_media-queries-mixin.scss";
@import "./_header.scss";
@import "./_main-nav.scss";
@import "./_portfolio.scss";
@import "./_comments.scss";
@import "./_footer.scss";

body {
    font-size: 0.875rem;
    color: #666;
    background: #fee6ce url('../img/texturetastic-gray.png');
    line-height: 1.5rem;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

header {
    padding-top: 10px;
}

h1 {
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    color: #761819;
    margin-bottom: 24px;
}

header, .main-content, footer > div:first-child {
    padding-bottom: 20px;
}

.main-content {
    min-height: calc(100vh - 275px);
}

.row {
    background: #fff;
}

.u-100pc-width {
    width: 100%;
}
